@keyframes fadeInOnLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  animation: fadeInOnLoad 1s ease;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f242d;
}

/* Keyframes untuk animasi */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* header style */
header {
  background-color: #1f242d;
  color: #fff;
  padding: 20px;
  text-align: center;
  animation: slideIn 0.5s ease-in-out; /* Menambahkan animasi slideIn */
}

/* Animasi untuk header h1 */
header h1 {
  margin: 0;
  font-size: 35px;
  animation: fadeIn 1s ease-in-out; /* Menambahkan animasi fadeIn */
}

span {
  color: #0ef;
  font-weight: bold;
}

/* Keyframes untuk animasi fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animasi untuk tautan di dalam header */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  animation: slideIn 0.5s ease-in-out; /* Menambahkan animasi slideIn */
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffc107;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  background-color: #323946;
  animation: fadeIn 0.5s ease forwards;
}

.container h1 {
  color: #0ef;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
  animation: example 3s ease-in-out infinite;
}

.container h2 {
  color: #0ef;
  font-weight: bold;
}

.container img {
  border-radius: 2.5%;
}

/* Light Mode */
.btn-lightmode button {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.btn-lightmode button:hover {
  background-color: #0056b3;
}

.light-mode body {
  background-color: #ccc;
  color: #000000;
}

.light-mode #searchResults,
.light-mode #recommendedBooks,
.light-mode .sort label {
  color: #000000;
}

.light-mode .container {
  background-color: #f5f5f5;
}

/* style logo */
.logo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 125px;
  height: 125px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #0ef;
  margin-bottom: 15px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.5s ease;
}

.logo:hover img {
  transform: scale(1.1);
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.logo:hover::before {
  opacity: 1;
}

.logo::after {
  content: "Dfaalt";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0ef;
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.logo:hover::after {
  opacity: 1;
}

@keyframes example {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Search & Category Style */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#searchInput {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #007bff;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 300px;
  transition: border-color 0.3s ease;
}

#searchInput:focus,
#categorySelect:focus {
  border-color: #007bff; /* Warna border saat dalam keadaan fokus */
  outline: none; /* Menghapus outline bawaan pada elemen yang fokus */
  box-shadow: 0 0 0 1px #007bff; /* Menambahkan shadow saat elemen dalam keadaan fokus */
}

button {
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: navy;
}

#categorySelect {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #007bff;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 8rem;
  width: 300px;
  transition: border-color 0.3s ease;
}

/* style sort by */
.sort {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px #1f242d;
  margin-bottom: 20px;
}

.sort label {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.sort select {
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.sort select:hover {
  border-color: #007bff;
}

.sort select:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

.sort option {
  background-color: #fff;
  color: #333;
}

.sort option:hover {
  background-color: #e0e0e0;
}

#searchResults,
#recommendedBooks {
  display: grid;
  grid-template-columns: repeat(
    1,
    auto-fill,
    minmax(300px, 1fr)
  ); /* Menggunakan auto-fill untuk membuat grid dinamis */
  gap: 20px;
  text-align: left;
  margin-bottom: 50px;
  color: #fff;
  font-weight: 500;
}

#searchResults h2,
#recommendedBooks h2 {
  color: #bada55;
}

.book {
  margin-bottom: 20px;
  padding: 20px;
  border: 2.5px solid #0ef;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

.book img {
  float: left;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

.book img:hover {
  transform: scale(1.1);
}

.book-info {
  overflow: hidden;
}

.book-info p a {
  color: #007bff;
  transition: color 0.3s ease;
}

.book-info p a:hover {
  color: #0056b3;
}

.book-info p a:active {
  color: #ff0000;
}

/* footer style */
footer {
  background-color: #1f242d;
  color: #fff; /* Warna teks */
  padding: 20px; /* Ruang dalam footer */
  text-align: center; /* Teks rata tengah */
  left: 0; /* Footer dimulai dari sisi kiri layar */
  bottom: 0; /* Footer akan melekat pada bagian bawah layar */
}

footer p {
  margin: 0; /* Menghapus margin bawaan pada paragraf */
  font-size: 14px; /* Ukuran teks */
}

/* Efek hover untuk teks pada footer */
footer p:hover {
  color: #ffa500; /* Warna teks berubah saat dihover */
  cursor: pointer; /* Pointer cursor saat dihover */
}

/* Efek transisi untuk perubahan warna teks saat dihover */
footer p:hover {
  transition: color 0.3s ease; /* Transisi berlangsung selama 0.3 detik */
}

/* For screens smaller than 768px */
@media (max-width: 767px) {
  .container {
    padding: 10px;
  }
  .logo {
    width: 100px;
    height: 100px;
    font-size: 24px;
  }
  #searchInput,
  #categorySelect {
    width: calc(100% - 20px);
    margin-right: 0;
  }
}

/* For screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 600px;
  }
}

/* For screens larger than 1024px */
@media (min-width: 1024px) {
  .container {
    max-width: 800px;
  }
}
