/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #1f242d;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

/* Fade-in animation for body content */
body.fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Start from above */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Move to original position */
  }
}

.btn-lightmode {
  position: absolute;
  top: 80%;
  right: 10px; /* Adjust as needed */
  transform: translateY(-50%); /* Center vertically */
  transition: transform 0.3s;
}

.btn-lightmode button {
  background-color: #f1f1f1;
  color: #1a1a1a;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 100px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.btn-lightmode button:hover {
  transform: scale(1.1);
}

header {
  background-color: #323946;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  animation: fadeIn 1s forwards;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header span {
  color: #0091ea;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #f1f1f1;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #149ddd;
}

.search-box input {
  padding: 10px;
  width: 20%;
  border: none;
  border-radius: 10px;
  transition: box-shadow 0.3s;
}

.search-box input:focus {
  box-shadow: 0 0 10px #0091ea;
}

.search-box button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #0091ea;
  color: #1a1a1a;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.search-box button:hover {
  background-color: #149ddd;
  transform: scale(1.05);
}

.container {
  max-width: 1200px;
  margin: 120px auto 0 auto; /* Added top margin to avoid overlap with fixed header */
  padding: 20px;
  opacity: 0; /* Initially hide container */
  animation: fadeIn 1s forwards; /* Fade in animation for container */
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.sort {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  flex-direction: column;
  align-items: center;
}

.sort label {
  margin-bottom: 10px; /* Space between label and select box */
  color: #f1f1f1; /* Ensure label text is visible in dark mode */
}

.category select,
.sort select {
  padding: 10px;
  border: none;
  background-color: #323946;
  color: #f1f1f1;
  transition: background-color 0.3s, color 0.3s;
}

/* Animation for book elements */
@keyframes bookAppear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.book {
  background-color: #323946;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: bookAppear 0.5s forwards;
}

.book:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.book img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
}

.book img:hover {
  transform: scale(1.1);
}

.book-info {
  text-align: left;
  transition: transform 0.3s, color 0.3s;
}

.book-info a {
  color: #149ddd;
  transition: color 0.3s;
}

.book-info a:hover {
  color: #1a9ddd;
}

.book-info h2 {
  font-size: 1.2em;
}

.book-info p {
  font-size: 0.9em;
}

footer {
  background-color: #323946;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  transition: background-color 0.3s;
}

/* Responsive grid for books */
#searchResults {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-top: 10px;
}

#recommendedBooks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Light mode styles */
.light-mode {
  background-color: #f1f1f1;
  color: #1a1a1a;
  transition: background-color 0.3s, color 0.3s;
}

.light-mode header {
  background-color: #ddd;
}

.light-mode nav ul li a {
  color: #1a1a1a;
  transition: color 0.3s;
}

.light-mode nav ul li a:hover {
  color: #149ddd;
}

.light-mode .btn-lightmode button {
  background-color: #1a1a1a;
  color: #f1f1f1;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.light-mode .search-box button {
  background-color: #0091ea;
  color: #f1f1f1;
  transition: background-color 0.3s, transform 0.3s;
}

.light-mode .search-box button:hover {
  background-color: #149ddd;
}

.light-mode .sort label {
  color: #323946;
  transition: color 0.3s;
}

.light-mode .category select,
.light-mode .sort select {
  background-color: #323946;
  color: #f1f1f1;
  transition: background-color 0.3s, color 0.3s;
}

.light-mode .book {
  background-color: #f1f1f1;
  color: #1a1a1a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.light-mode .book:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.light-mode footer {
  background-color: #ccc;
  transition: background-color 0.3s;
}

/* For mobile screens (less than 768px wide) */
@media only screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  header h1 {
    font-size: 23px;
    margin: 0;
  }

  header h1 span {
    font-size: 23px;
  }

  .container {
    padding: 70px;
  }

  .btn-lightmode {
    text-align: left;
    margin-top: 10px;
  }

  .btn-lightmode button {
    display: block;
    margin: 10px 0 10px 0;
    margin-right: 20px;
  }

  .search-box {
    text-align: center;
  }

  .search-box input {
    width: calc(40% - 40px);
    margin-bottom: 10px;
  }

  .search-box button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
}
